<div class="codeExample">
	<div class="exampleOutput">
    	<%= rendered_example %>
  	</div>
  	<div class="codeBlock">
    	<div class="highlight">
      		<pre><%= code_example %></pre>
    	</div>
  	</div>
	<hr style="margin: 30px 0;">
</div>
