<div id="ctl02_liveChat">
	<a id="#" class="live_chat_button" href="pre_chat_form_page.html" onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=480,height=450');return false;"> Chat Now </a>
</div>