<div class="content_box"> <!-- additional class names added via sitecore -->
    <p>Html input via a rich text editor, H1 H2 H3 H4 H5 H6, paragraphs, lists, tables ect. Html input via a rich text editor, H1 H2 H3 H4 H5 H6, paragraphs, lists, tables ect. Html input via a rich text editor, H1 H2 H3 H4 H5 H6, paragraphs, lists, tables ect.</p>
</div>