<div class="container cookie_bar">
	<div class="row">
		<div class="col-md-10">
			<strong>This site uses cookies</strong>. In order to continually improve this site, we remember and store information about how you use it. 
			<a href="http://www.studygroup.com/info/cookie-statement" target="_blank" class="cookie">Find out more.</a>
		</div>
		<div class="col-md-2">
			<a href="#" class="cookie_btn">
				<span>Accept and close</span>
			</a>
		</div>
	</div>
</div>