<!-- FOOTER LINKS COMPONENT START -->
<ul class="footer_links">
	<li><a href="#">Terms &amp; Conditions</a></li>
	<li><a href="#">Privacy Policy</a></li>
	<li><a href="#">Other footer link</a></li>
</ul>
<!-- FOOTER LINKS COMPONENT END -->