<!-- LANGUAGE LINKS COMPONENT START -->
<ul class="language_links">
	<li><a href="#">EN</a></li> <!-- Should be a tich text field so that flag images can be added as well / instead of text -->
	<li><a href="#">中文</a></li> <!-- Should be a tich text field so that flag images can be added as well / instead of text -->
</ul>
<!-- LANGUAGE LINKS COMPONENT END -->