<!-- NAVBAR COMPONENT START -->
<div class="navbar">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="dropdown">
                <a href="index.html">About the university</a>
                <div class="dropdown-toggle" data-toggle="dropdown"></div>
                <ul class="dropdown-menu">
                    <li><a href="#">Rankings &amp; stats</a></li>
                    <li><a href="#">Location</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>                
            </li>
            <li class="dropdown">
                <a href="#">International Study Centre</a>
                <div class="dropdown-toggle" data-toggle="dropdown"></div>
                <ul class="dropdown-menu">
                    <li><a href="#">Student life, services &amp; support</a></li>
                    <li><a href="#">Accommodation</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="index.html">Programmes</a>
                <div class="dropdown-toggle" data-toggle="dropdown"></div>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">IFY</a>
                        <div class="dropdown-toggle-2"></div>
                        <ul class="dropdown-menu-2">
                            <li class="active"><a href="#">Pathway A</a></li>
                            <li><a href="#">Pathway B</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">IY1</a>
                        <div class="dropdown-toggle-2"></div>
                        <ul class="dropdown-menu-2">
                            <li><a href="#">Pathway A</a></li>
                            <li><a href="#">Pathway B</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">PMP</a>
                        <div class="dropdown-toggle-2"></div>
                        <ul class="dropdown-menu-2">
                            <li><a href="#">Pathway A</a></li>
                            <li><a href="#">Pathway B</a></li>
                        </ul>
                    </li>
                    <li><a href="#">ELP</a></li>
                    <li><a href="#">Progression degrees</a></li>
                    <li><a href="#">Entry requirements</a></li>
                    <li><a href="#">Term dates</a></li>
                </ul>
            </li>
            <li class="dropdown active">
                <a href="#">How to apply</a>
                <div class="dropdown-toggle" data-toggle="dropdown"></div>
                <ul class="dropdown-menu">
                    <li><a href="#">How to pay</a></li>
                    <li class="active"><a href="#">Insurance</a></li>
                    <li><a href="#">Pre-arrival</a></li>
                    <li><a href="#">App form</a></li>
                    <li><a href="#">Fees</a></li>
                </ul>
            </li>
            <li class="dropdown active">
                <a href="#">Contact</a>
                <div class="dropdown-toggle" data-toggle="dropdown"></div>
                <ul class="dropdown-menu">
                    <li><a href="#">Enquiry form</a></li>
                </ul>
            </li>
        </ul>
    </div><!--/.nav-collapse -->
</div>
<!-- NAVBAR COMPONENT END -->