<!-- NEWS FEED COMPONENT START -->
<div class="news_feed">
	<div class="news_listing">
    	<h3>Latest news</h3> <!-- Option for content editors to choose heading tag -->
		<ul class="news_items">
			<li class="news_item"> <!-- Option to control number of news items in news feed -->
				<div class="news_heading">
					<h3>Item title</h3> <!-- Option for content editors to choose heading tag -->
				</div>
				<div class="news_date">
					<em>March 20 2016</em>
				</div>
				<div class="news_details">
					<img src="http://placehold.it/350x250">
					<div class="news_snippet"><!-- Richtext field copy -->
						<p>Guardian University Guide 2017 confirms Sussex is a leading university with outstanding career prospects</p>
					</div>
					<div class="button">
					    <a href="#">Read more</a>
					</div>
				</div>
			</li>
			<li class="news_item">
				<div class="news_heading">
					<h3>Item title</h3> <!-- Option for content editors to choose heading tag -->
				</div>
				<div class="news_date">
					<em>March 20 2016</em>
				</div>
				<div class="news_details">
					<img src="http://placehold.it/350x250">
					<div class="news_snippet"><!-- Richtext field copy -->
						<p>Guardian University Guide 2017 confirms Sussex is a leading university with outstanding career prospects</p>
					</div>
					<div class="button">
					    <a href="#">Read more</a>
					</div>
				</div>
			</li>
			<li class="news_item">
				<div class="news_heading">
					<h3>Item title</h3> <!-- Option for content editors to choose heading tag -->
				</div>
				<div class="news_date">
					<em>March 20 2016</em>
				</div>
				<div class="news_details">
					<img src="http://placehold.it/350x250">
					<div class="news_snippet"><!-- Richtext field copy -->
						<p>Guardian University Guide 2017 confirms Sussex is a leading university with outstanding career prospects</p>
					</div>
					<div class="button">
					    <a href="#">Read more</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- NEWS FEED COMPONENT END -->