<!-- SEARCH RESULTS COMPONENT START -->
<div class="search_results">
	<ul class="listing">
		<li>
			<a href="#">Result link</a>
			<p>If you require a UK visa to study, depending on the type of visa you need, the English language requirements and valid English <span class="highlight">tests</span> to satisfy the UK visa
criteria...</p>
		</li>
		<li>
			<span class="type">[PDF]</span>
			<a href="#">Result link</a>
			<p>The advice I would give to other students is to focus, listen to your teachers and always put in your best, whether it's a small <span class="highlight">test</span>, random classwork or an exam.</p>
		</li>
		<li>
			<a href="#">Result link</a>
			<p>If you require a UK visa to study, depending on the type of visa you need, the English language requirements and valid English <span class="highlight">tests</span> to satisfy the UK visa
criteria...</p>
		</li>
	</ul>
	
	<ul class="pagination">
		<!-- <li><a href="#">«</a></li> -->
		<li class="active"><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#">»</a></li>
	</ul>
</div>
<!-- SEARCH RESULTS COMPONENT END -->