<div class="sitemap">
    <ul>
    	<li>
    		<a href="#">Home</a>
	    	<ul>
	    		<li>
	    			<a href="#">About the university</a>
	    			<ul>
	    				<li><a href="#">Rankings &amp; stats</a></li>
	    				<li><a href="#">Location</a></li>
	    				<li><a href="#">Careers</a></li>
	    			</ul>
	    		</li>
	    		<li>
	    			<a href="#">International Study Centre</a>
	    			<ul>
	    				<li><a href="#">Student life, services &amp; support</a></li>
	    				<li><a href="#">Accommodation</a></li>
	    			</ul>
	    		</li>
	    		<li>
	    			<a href="#">Programmes</a>
	    			<ul>
	    				<li>
	    					<a href="#">IFY</a>
			    			<ul>
			    				<li><a href="#">Pathway A</a></li>
			    				<li><a href="#">Pathway B</a></li>
			    			</ul>
	    				</li>
	    				<li>
	    					<a href="#">IY1</a>
			    			<ul>
			    				<li><a href="#">Pathway A</a></li>
			    				<li><a href="#">Pathway B</a></li>
			    			</ul>	    					
	    				</li>
	    				<li>
	    					<a href="#">PMP</a>
			    			<ul>
			    				<li><a href="#">Pathway A</a></li>
			    				<li><a href="#">Pathway B</a></li>
			    			</ul>
	    				</li>
	    				<li><a href="#">ELP</a></li>
	    				<li><a href="#">Progression degrees</a></li>
	    				<li><a href="#">Entry requirements</a></li>
	    				<li><a href="#">Term dates</a></li>
	    			</ul>
	    		</li>
	    		<li>
	    			<a href="#">How to apply</a>
	    			<ul>
	    				<li><a href="#">How to pay</a></li>
	    				<li><a href="#">Insurance</a></li>
	    				<li><a href="#">Pre-arrival</a></li>
	    				<li><a href="#">App form</a></li>
	    				<li><a href="#">Fees</a></li>
	    			</ul>
	    		</li>
	    		<li>
	    			<a href="#">Contact</a>
	    			<ul>
	    				<li><a href="#">Enquiry form</a></li>
	    			</ul>
	    		</li>
	    	</ul>
    	</li>
    </ul>
</div>