<div id="form" class="start-dates" style="">
	<h3>Term Dates</h3>
	<div class="start-dates-content">
		<p><strong>September, 2017</strong></p>
		<p>
			<span>
				<strong><span>Term 1</span></strong>: 
				<span>11/09/2017</span> - <span>01/12/2017</span>
				<br>
				<strong><span>Term 2</span></strong>: 
				<span>08/01/2018</span> - <span>16/03/2018</span>
				<br>
				<strong><span>Term 3</span></strong>: 
				<span>02/04/2018</span> - <span>08/06/2018</span>
				<br>
			</span>
		</p>
	</div>
</div>