<!-- BACKGROUND VIDEO COMPONENT START -->
<div class="video_bg">
	<div class="video_wrapper">
		<video autoplay loop poster="video/video.jpg" id="bgvid">
			<source src="video/video.mp4" type="video/mp4">
			<source src="video/video.webm" type="video/webm">
		</video>
        <div class="fallback_carousel">
            <span><img src="http://lorempixel.com/output/cats-q-c-1024-577-8.jpg"></span>
            <span><img src="http://lorempixel.com/output/cats-q-c-1024-577-6.jpg"></span>
            <span><img src="http://lorempixel.com/output/cats-q-c-1024-577-5.jpg"></span>
        </div>
		<div class="video_content">
			Video content
		</div>
	</div>
</div>
<!-- BACKGROUND VIDEO COMPONENT END -->