<div class="wb-categories wb-panel" id="">
    <h3>Categories</h3>
    <ul>
        <li><a href="#">Accommodation</a></li>
        <li><a href="#">Arrivals</a></li>
        <li><a href="#">Bellerbys Brighton</a></li>
        <li><a href="#">Bellerbys Cambridge</a></li>
        <li><a href="#">Bellerbys London</a></li>
        <li><a href="#">Courses</a></li>
        <li><a href="#">Education UK</a></li>
        <li><a href="#">Our students</a></li>
        <li><a href="#">Student life</a></li>
        <li><a href="#">Study abroad</a></li>
        <li><a href="#">University preparation</a></li>
    </ul>
</div>