<div class="wb_feed">
	<div class="wb_feed_title">
		<h3>Latest blog posts</h3>
	</div>
	<ul>
		<li class="wb_feed_item">
			<img class="wb_feed_image" src="http://placehold.it/250x150">
			<div class="wb_feed_content">
				<h3>
					<a href="#">We-blog item title</a>
				</h3>
				<small>DD/MM/YYYY</small>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
				<div class="wb_feed_item_button">
					<a href="#">Read more</a>
				</div>
			</div>
		</li>
		<li class="wb_feed_item">
			<img class="wb_feed_image" src="http://placehold.it/250x150">
			<div class="wb_feed_content">
				<h3>
					<a href="#">We-blog item title</a>
				</h3>
				<small>DD/MM/YYYY</small>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
				<div class="wb_feed_item_button">
					<a href="#">Read more</a>
				</div>
			</div>
		</li>
		<li class="wb_feed_item">
			<img class="wb_feed_image" src="http://placehold.it/250x150">
			<div class="wb_feed_content">
				<h3>
					<a href="#">We-blog item title</a>
				</h3>
				<small>DD/MM/YYYY</small>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
				<div class="wb_feed_item_button">
					<a href="#">Read more</a>
				</div>
			</div>
		</li>
	</ul>
	<div class="wb_feed_button">
		<a href="#">See all posts</a>
	</div>
</div>