<div class="wb-entry-list wb-panel" id="#">
    <ul class="wb-entry-list-entries">
        <li class="wb-entry-list-entry">
            <img alt="" class="wb-image" width="200" height="150" src="http://placehold.it/250x150">
            <div class="wb-entry-detail">
                <h2><a href="#" id="">Blog entry 1b</a></h2>
                <div class="wb-details">
                    Posted 02 July 2018
                </div>
                <p class="wb-read-more-container">
                    When it comes to choosing the right college for your international studies, it can be hard to know where to start and what to look for. Luckily, Bellerbys has three of its own international colleges, each with their own unique advantages in three very different UK cities. 
                    <a class="wb-read-more" href="#" id="">Read more...</a>
                </p>
            </div>
        </li>
        <li class="wb-entry-list-entry">
            <img alt="" class="wb-image" width="200" height="150" src="http://placehold.it/250x150">
            <div class="wb-entry-detail">
                <h2><a href="#" id="">Blog entry 1b</a></h2>
                <div class="wb-details">
                    Posted 02 July 2018
                </div>
                <p class="wb-read-more-container">
                    A Levels are a well-respected pathway to university study in the UK, but the jump from GCSE study can be a challenge. If you’re wondering how best to prepare for your A Levels, we have some tips to help.
                    <a class="wb-read-more" href="#" id="">Read more...</a>
                </p>
            </div>
        </li>
        <li class="wb-entry-list-entry">
            <img alt="" class="wb-image" width="200" height="150" src="http://placehold.it/250x150">
            <div class="wb-entry-detail">
                <h2><a href="#" id="">Blog entry 1b</a></h2>
                <div class="wb-details">
                    Posted 02 July 2018
                </div>
                <p class="wb-read-more-container">
                    Studying Medicine in the UK allows you to learn more about the subject in some of the world's top universities.
                    <a class="wb-read-more" href="#" id="">Read more...</a>
                </p>
            </div>
        </li>
        <li class="wb-entry-list-entry">
            <img alt="" class="wb-image" width="200" height="150" src="http://placehold.it/250x150">
            <div class="wb-entry-detail">
                <h2><a href="#" id="">Blog entry 1b</a></h2>
                <div class="wb-details">
                    Posted 02 July 2018
                </div>
                <p class="wb-read-more-container">
                    Bellerbys College Cambridge is a great place to study if you want an excellent British education. But what about your time outside of the classroom? What is college life like in Cambridge?
                    <a class="wb-read-more" href="#" id="">Read more...</a>
                </p>
            </div>
        </li>
        <li class="wb-entry-list-entry">
            <img alt="" class="wb-image" width="200" height="150" src="http://placehold.it/250x150">
            <div class="wb-entry-detail">
                <h2><a href="#" id="">Blog entry 1b</a></h2>
                <div class="wb-details">
                    Posted 02 July 2018
                </div>
                <p class="wb-read-more-container">
                    Living in London as a student gives you the perfect chance to spend time exploring its international cafés, restaurants and festivals. We’ve listed just a few ideas to start you off.
                    <a class="wb-read-more" href="#" id="">Read more...</a>
                </p>
            </div>
        </li>
    </ul>
    <div class="wb-view-more-wrapper" id="#">
        <span class="wb-loading-animation" style="display:none;">Loading...</span>
    </div>
</div>