<div class="wb-feeds wb-panel" id="">
    <h3>Syndication</h3>
    <ul>
        <li>
            <a class="wb-feed-image" href="#" id="">
            	<img alt="" src="https://www.bellerbys.com/sitecore%20modules/WeBlog/Images/feed-icon-14x14.png">
            </a> 
            <a class="wb-feed-text" href="#" id="">Subscribe</a>
        </li>
    </ul>
</div>