<div class="wb-tagCloud wb-panel" id="">
    <h3>Tagcloud</h3>
    <div class="wb-entries">
        <a class="wb - weight3" href="#" id="">international students</a> 
        <a class="wb - weight1" href="#" id="">study abroad</a> 
        <a class="wb - weight5" href="#" id="">Bellerbys College Cambridge</a> 
        <a class="wb - weight5" href="#" id="">student life</a> 
        <a class="wb - weight2" href="#" id="">British culture</a> 
        <a class="wb - weight5" href="#" id="">science</a> 
        <a class="wb - weight3" href="#" id="">STEM</a> 
        <a class="wb - weight2" href="#" id="">Bellerbys College London</a> 
        <a class="wb - weight5" href="#" id="">enrichment</a> 
        <a class="wb - weight5" href="#" id="">study abroad uk</a> 
        <a class="wb - weight5" href="#" id="">career</a> 
        <a class="wb - weight3" href="#" id="">business</a> 
        <a class="wb - weight1" href="#" id="">london</a> 
        <a class="wb - weight5" href="#" id="">English language</a> 
        <a class="wb - weight1" href="#" id="">study tips</a> 
        <a class="wb - weight5" href="#" id="">alumni</a> 
        <a class="wb - weight4" href="#" id="">college life</a> 
        <a class="wb - weight5" href="#" id="">weather</a> 
        <a class="wb - weight2" href="#" id="">UK</a> 
        <a class="wb - weight5" href="#" id="">packing</a> 
        <a class="wb - weight3" href="#" id="">clothing</a> 
        <a class="wb - weight2" href="#" id="">brighton</a> 
        <a class="wb - weight5" href="#" id="">cambridge</a> 
        <a class="wb - weight1" href="#" id="">A level in UK</a> 
        <a class="wb - weight5" href="#" id="">Foundation course UK</a> 
        <a class="wb - weight1" href="#" id="">Oxford University</a> 
        <a class="wb - weight5" href="#" id="">alumni experience</a> 
        <a class="wb - weight5" href="#" id="">international study</a> 
        <a class="wb - weight4" href="#" id="">study in the UK</a> 
        <a class="wb - weight5" href="#" id="">A Level</a> 
        <a class="wb - weight3" href="#" id="">making friends</a> 
        <a class="wb - weight1" href="#" id="">international student</a> 
        <a class="wb - weight5" href="#" id="">what to pack</a> 
        <a class="wb - weight2" href="#" id="">Foundation</a> 
        <a class="wb - weight3" href="#" id="">bellerbys london</a> 
        <a class="wb - weight1" href="#" id="">clubs</a> 
        <a class="wb - weight5" href="#" id="">activities</a> 
        <a class="wb - weight2" href="#" id="">societies</a> 
        <a class="wb - weight3" href="#" id="">Accommodation</a> 
        <a class="wb - weight5" href="#" id="">host family</a> 
        <a class="wb - weight2" href="#" id="">Europe</a> 
    </div>
</div>