<!-- WIDGET COMPONENT START -->
<div class="widget">
    <h3>Widget</h3> <!-- Option for content editors to choose heading tag -->
    <img src="http://placehold.it/720x400">
    <p>
        lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <p>
        Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
	<div class="button">
	    <a href="#">Apply now</a>
	</div>
</div>
<!-- WIDGET COMPONENT END -->