/*doc
---
title: Colours
name: a_colours
category: Components
---

<div class="panel panel-primary">
	<div class="panel-heading">
	    <h3 class="panel-title">
			Usage Notes:
	    </h3>
  	</div>
  	<div class="panel-body">
		<strong>Notes:</strong> <em>When used together, colours should be <a href="http://webaim.org/resources/contrastchecker/" target="_blank">checked for accessibility</a> and meet at least an AA rating.</em>
  	</div>
</div>

<div class="row">
  <div class="col-sm-3 col-xs-6">
    <div class="colour colour--one"></div>
  </div>
  <div class="col-sm-3 col-xs-6">
    <div class="colour colour--two"></div>
  </div>
  <div class="col-sm-3 col-xs-6">
    <div class="colour colour--three"></div>
  </div>
  <div class="col-sm-3 col-xs-6">
    <div class="colour colour--four"></div>
  </div>
  <div class="col-sm-3 col-xs-6">
    <div class="colour colour--five"></div>
  </div>
</div>
<hr>

*/
.colour--one {
  background: #000000;
}
.colour--one:after {
  content: "#000000";
}

/* PRE-CHAT FORM COMPONENT */
body {
  margin: 0;
  padding: 10px;
}

.from_wrapper {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 10px 14px 14px 14px;
  background: url("http://placehold.it/200x280") no-repeat bottom right;
  border: 2px solid #000000;
}
.from_wrapper h1 {
  color: #000000;
  margin: 5px 0 10px 0;
  font-size: 20px;
}
.from_wrapper img {
  margin: 0 0 6px;
}
.from_wrapper input, .from_wrapper select {
  width: 55%;
  margin-bottom: 10px;
  padding: 3px;
  font-size: 12px;
}
.from_wrapper label {
  width: 53%;
  color: #000000;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 0;
}
.from_wrapper label span {
  color: red;
  padding-left: 5px;
}
.from_wrapper #prechat_submit {
  border: none;
  width: auto;
  border-radius: 0;
  padding: 10px 15px;
  background: #000000;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  margin: 8px 0 0 0;
}
.from_wrapper #prechat_submit:hover {
  background: #0d0d0d;
}
.from_wrapper #prechat_submit:after {
  font-family: 'Glyphicons Halflings';
  font-size: 12px;
  content: "\e080";
  margin: 0 0 0 7px;
}

@media (max-width: 380px) {
  .from_wrapper {
    background: none;
  }
  .from_wrapper input, .from_wrapper select, .from_wrapper label {
    width: 94%;
  }
}
