/* ENTRY REQUIREMENTS COMPONENT */
#form{
	@include table_wrap;
	.requirementsCountry{
		label.control-label{}
	}
	.controls{
		select.form-control{
			margin-bottom: 15px;
		}
	}
}
.entry-requirements{
	&.table{}
	thead{
		tr{
			.requirementHeading{}
			th{
            	background: $form_colour;
            	color: #fff;
            	border-bottom: 1px solid #fff;
			}
		}
	}
	tbody{
		tr{
			border-bottom: 1px solid $form_colour_s;
			&:nth-child(odd){
				background: $form_colour_s;
			}
			td{}
		}
	}
}

@media (min-width: $screen-lg-min){
}

@media (max-width: $screen-md-max){
}

@media (max-width: $screen-sm-max){
}

@media (max-width: $screen-xs-max){
}