/* GALLERY COMPONENT */
.gallery{
	padding: 0 15px;
	.col-md-6, .col-sm-6, .col-xs-6{
		padding: 0;
	}
	h1, h2, h3, h4, h5, h6{
		margin-left: -15px;
		margin-right: -15px;
	}
	img{
		width: 100%;
		height: auto;
	}
	.carousel{
		.carousel-control{
			position: relative;
			top: 0;
			left: 0;
			img{
				width: auto;
			}
		}
		.item{
			text-align: center;
		}
		.controls{
			text-align: center;
		}
	}
}
