/* HERO COMPONENT */
.hero{ // BACKGROUND IMAGE GET ADDED TO '.hero' DIV VIA SITECORE
	height: 450px;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	.hero_content{
		.button{
			a{}
		}
	}
}