/* NAVBAR COMPONENT */
.navbar{
	margin: 0;
	.navbar-collapse{
		.nav{ // UL
			li{
				&.active{}
				a{
					&:active, &:focus, &:hover{}
				}
				&.dropdown{
					&:hover{
						.dropdown-menu{ // SECOND LEVEL UL (when parent is hovered)
							visibility: visible;
						}
					}
					&.open{
						a, a:hover, a:active, a:focus{
							background: transparent;
						}
					}
					.dropdown-toggle{
						display: none;
					}
				}
				.dropdown-menu{ // SECOND LEVEL UL
					visibility: hidden;
					padding: 0;
					li{
						.dropdown-menu-2{ // THIRD LEVEL UL (hidden on desktop)
							display: none;
						}
					}
				}
			}
		}
	}
}

@media (min-width: $screen-lg-min){
}

@media (max-width: $screen-md-max){
}

@media (max-width: $screen-sm-max){
	/* NAVBAR COMPONENT */
	.navbar{
		.navbar-header{
			.navbar-toggle{
				border: 1px solid #333;
				border-radius: 0;
				margin: 0;
				.icon-bar{
					background: #333;
					border-radius: 0;
				}
			}
		}
		.navbar-collapse{
			.nav{ // UL
				li{
					position: relative;
					&.active{}
					a{
						display: block;
						padding: 10px;
						background: red;
						margin-bottom: 1px; // gap under each menu item
						color: black;
						&:active, &:focus, &:hover{
							background: yellow !important;
						}
					}
					&.dropdown{
						&:hover{
							.dropdown-menu{ // SECOND LEVEL UL (when parent is hovered)
								visibility: hidden;
							}
						}						
						.dropdown-toggle{
							@include nav-toggle-styles;
							&:after{
								content: '\f078';
							}
						}
						&.open{
							.dropdown-menu{ // SECOND LEVEL UL (when parent is toggled open)
								visibility: visible;
								display: block;
							}
							.dropdown-toggle{
								&:after{
									content: '\f077';
								}
							}
						}
						.dropdown-menu{ // SECOND LEVEL UL
							padding: 0;
							display: none;
							li {
								&.active{}
								a{
									padding: 10px 10px 10px 20px;
									background: lime;
									&:active, &:focus, &:hover{}
								}
								&.open{
									.dropdown-toggle-2{
										&:after{
											content: '\f068';
										}
									}
									.dropdown-menu-2{ // THIRD LEVEL UL
										display: block;
										li{
											&.active{}
											a{
												padding: 10px 10px 10px 30px;
												background: green;
												&:active, &:focus, &:hover{
													text-decoration: none;
												}
											}
										}
									}
								}
								.dropdown-toggle-2{
									@include nav-toggle-styles;
									&:after{
										content: '\f067';
									}
								}
								.dropdown-menu-2{ // UL THIRD LEVEL UL
									display: none;
									list-style: none;
									padding: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: $screen-xs-max){
}