/* ALL NEWS COMPONENTS */

/* News feed */
.news_feed{
	.news_listing{
		h1, h2, h3, h4, h5, h6{}
		.news_items{
			list-style: none;
			padding: 0;
			.news_item{
				.news_heading{
					h1, h2, h3, h4, h5, h6{}
				}
				.news_date{
					em{}
				}
				.news_details{
					img{}
					.news_snippet{
						p{}
					}
					.button{
						a{}
					}
				}
			}
		}
		.button{ // SEE ALL NEWS
			a{}
		}
	}	
}

/* News listing */
.news_listing{
	.news_items{
		list-style: none;
		padding: 0;
		.news_item{
			.news_heading{
				h1, h2, h3, h4, h5, h6{}
			}
			.news_date{
				em{}
			}
			.news_details{
				img{}
				.news_snippet{
					p{}
				}
				.button{
					a{}
				}
			}
			.button{
				a{}
			}
		}
	}
}

/* News archive menu*/
.news_archive{
	h3{}
	ul{
		li{
			a{}
			ul{
				li{
					a{}
				}
			}
		}
	}
}

@media (min-width: $screen-lg-min){
}

@media (max-width: $screen-md-max){
}

@media (max-width: $screen-sm-max){
}

@media (max-width: $screen-xs-max){
}