/* PAGINATION COMPONENT */
.pagination{
	li{
		a{
			color: $form_colour;
			border-color: $form_colour_s;
			&:hover{
				color: $form_colour;
				background: $form_colour_s;
			}
		}
		&.active{
			a{
				border-color: $form_colour;
				background: $form_colour;
				color: #fff;
				&:hover, &:focus, &:active{
					border-color: $form_colour;
					background: $form_colour;
					outline: 0;
				}
			}
		}
	}
}

@media (min-width: $screen-lg-min){
}

@media (max-width: $screen-md-max){
}

@media (max-width: $screen-sm-max){
}

@media (max-width: $screen-xs-max){
}