/* PROGRESSION ROUTES COMPONENT */
.progRoutes{
	@include table_wrap;
	.standard{
		thead{
			tr{
				th{
	            	background: $form_colour;
	            	color: #fff;
	            	padding: 8px;
				}
			}
		}
		tbody{
			tr{
				border-bottom: 1px solid $form_colour_s;
				&.alternate{
					background: $form_colour_s;
					td{}
				}
				td{
	            	padding: 8px;					
				}
			}
		}
	}
}

@media (min-width: $screen-lg-min){
}

@media (max-width: $screen-md-max){
}

@media (max-width: $screen-sm-max){
}

@media (max-width: $screen-xs-max){
}