/* SEARCHBAR COMPONENT */
.search_results{
	.listing{
		padding-left: 15px;
		li{
			.type{}
			p{
				.highlight{
					color: $form_colour;
					font-weight: bold;
				}
			}
			a{
				color: $form_colour;
			}
		}
	}
}