/* SEARCHBAR COMPONENT */
#searchresult{
	.listing{
		ul{
			padding: 0 0 15px 15px;
			li{
				.type{}
				p{
					.highlight{
						color: $form_colour;
						font-weight: bold;
					}
				}
				a{
					color: $form_colour;
				}
			}
		}
	}
}

@media (min-width: $screen-lg-min){
}

@media (max-width: $screen-md-max){
}

@media (max-width: $screen-sm-max){
}

@media (max-width: $screen-xs-max){
}