@font-face {
  font-family: 'font_regular';
  src: url("../fonts/custom_font/________FONT_FILE________");
  src: url("../fonts/custom_font/________FONT_FILE________#iefix") format("embedded-opentype"), url("../fonts/custom_font/________FONT_FILE________") format("woff");
}
@font-face {
  font-family: 'font_regular';
  src: url("../fonts/custom_font/________FONT_FILE________");
  src: url("../fonts/custom_font/________FONT_FILE________#iefix") format("embedded-opentype"), url("../fonts/custom_font/________FONT_FILE________") format("woff");
}
body {
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  font-family: 'font_regular';
}

strong, b, h1, h2, h3, h4, h5, h6 {
  font-family: 'font_bold';
  font-weight: normal;
}

header .button-group {
  background: #000000;
}
.button-group ul li a {
  background: #808080;
  color: #ffffff;
  border-radius: 0;
}
.button-group ul li a:hover, .button-group ul li a:focus, .button-group ul li a:active {
  background: #9f9f9f;
}

header {
  background: #000000;
}
header .logo {
  margin: 7px 0 15px 0;
}
header .logo a img {
  width: 200px !important;
}

.section.two {
  background: #F5F5F5;
}

.content_box h1, .content_box h2, .content_box h3, .content_box h4, .content_box h5, .content_box h6 {
  color: #808080;
}
.content_box a {
  color: #808080;
}
.content_box a:hover, .content_box a:active, .content_box a:focus {
  color: #9f9f9f;
}

.widget {
  background: #F5F5F5;
  color: #000000;
}
.widget h1, .widget h2, .widget h3, .widget h4, .widget h5, .widget h6 {
  color: #808080;
}
.widget .button a {
  background: #808080;
  color: #ffffff;
}

footer {
  text-align: center;
  background: #000000;
}
footer .footer_links li a {
  color: #ffffff;
}
footer .social_media_wrapper h1, footer .social_media_wrapper h2, footer .social_media_wrapper h3, footer .social_media_wrapper h4, footer .social_media_wrapper h5, footer .social_media_wrapper h6, footer .social_media_wrapper p {
  color: #ffffff;
}
footer .social_media_wrapper .social_media li a {
  color: #ffffff;
}
