<div class="fla-country">
    <p>The University of Sussex  ISC works alongside a network of authorised agents who are able to help you through the application process for our programmes.</p>
    <p>Select your country using the box below to find available agents. If your country isn't on the list, or you need further assistance, please 
    <a href="/contact/enquire-online">contact us</a> and a Student Enrolment Advisor will be happy to help.</p>
</div>
<div id="iscrlayout_0_susmaincontent_0_suscentrecolumn_2_countrySearch" class="form-horizontal">
    <div class="form-group">
       <label class="col-sm-2 control-label" for="agentCountry">Country</label>
       <div class="col-sm-10">
            <select id="agentCountry" name="agentCountry" class="form-control agent-country-list">
                <option value="0">Australia</option>
            </select> 
        </div>
    </div>
</div>
<div id="agentsList" class="row agents-list">
    <div class="col-md-12">
        <address>
            <strong>JJL International Education Exchange Promotion Ltd. - Jilin</strong><br/>
            Room 803 - 807<br/>
            Building B of Fortune Square<br/>
            Changyi District<br/>
            Jilin City,<br/>
            Jilin<br/>
            Australia<br/>
            <strong>Contact Person: Contact Person: Na HUO</strong><br/>
            Website: <a href="http://www.jjl.cn" target="_blank">www.jjl.cn</a>
        </address>
    </div>
    <div class="col-md-12">
        <address>
            <strong>JJL International Education Exchange Promotion Ltd. - Jilin</strong><br/>
            Room 803 - 807<br/>
            Building B of Fortune Square<br/>
            Changyi District<br/>
            Jilin City,<br/>
            Jilin<br/>
            Australia<br/>
            <strong>Contact Person: Contact Person: Na HUO</strong><br/>
            Website: <a href="http://www.jjl.cn" target="_blank">www.jjl.cn</a>
        </address>
    </div>
    <div class="col-md-12">
        <address>
            <strong>JJL International Education Exchange Promotion Ltd. - Jilin</strong><br/>
            Room 803 - 807<br/>
            Building B of Fortune Square<br/>
            Changyi District<br/>
            Jilin City,<br/>
            Jilin<br/>
            Australia<br/>
            <strong>Contact Person: Contact Person: Na HUO</strong><br/>
            Website: <a href="http://www.jjl.cn" target="_blank">www.jjl.cn</a>
        </address>
    </div>
    <div class="col-md-12">
        <address>
            <strong>JJL International Education Exchange Promotion Ltd. - Jilin</strong><br/>
            Room 803 - 807<br/>
            Building B of Fortune Square<br/>
            Changyi District<br/>
            Jilin City,<br/>
            Jilin<br/>
            Australia<br/>
            <strong>Contact Person: Contact Person: Na HUO</strong><br/>
            Website: <a href="http://www.jjl.cn" target="_blank">www.jjl.cn</a>
        </address>
    </div>
</div>