<!-- FOOTER COMPONENT START -->
<footer>
	<div class="container">
	    <div class="row">
	        <div class="col-md-6">
	        	{% include "components/footer_links" %}
	        </div>
	        <div class="col-md-6">
	        	{% include "components/social_media" %}
	        	{% include "components/sg_logo" %}
	        </div>
		</div>
	</div>
</footer>
<!-- FOOTER COMPONENT END -->