<!-- HEADER COMPONENT START -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% include "logo" %}
            </div>
            <div class="col-md-6">
                {% include "button_group" %}
                {% include "searchbar" %}
            </div>
    	</div>

        <div class="row">
            <div class="col-md-12">
            	{% include "navbar" %}
            </div>
    	</div>
    </div>
</header>
<!-- HEADER COMPONENT END -->