<!-- HEADER COMPONENT START -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% include "components/logo" %}
            </div>
            <div class="col-md-6">
                {% include "components/button_group" %}
                {% include "components/searchbar" %}
            </div>
    	</div>

        <div class="row">
            <div class="col-md-12">
            	{% include "components/navbar" %}
            </div>
    	</div>
    </div>
</header>
<!-- HEADER COMPONENT END -->