<div class="main_content">
    <h1>This is a title h1</h1>
    <h2>This is a title h2</h2>
    <h3>This is a title h3</h3>
    <h4>This is a title h4</h4>
    <h5>This is a title h5</h5>
    <h6>This is a title h6</h6>

    <p>
        <strong>
            Course intro lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea consequat.
        </strong>
    </p>

    <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <a href="#">commodo consequat</a>. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
    <small>This is small text</small>

    <hr>

    <ul>
        <li>lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor.</li>
        <li>Dolore aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
        <li>Dolor in reprehenderit in voluptate velit esse.</li>
    </ul>

    <hr>

    <ol>
        <li>lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor.</li>
        <li>Dolore aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
        <li>Dolor in reprehenderit in voluptate velit esse.</li>
    </ol>

    <hr>

    <div class="table_wrapper">
        <table width="100%" border="0">
            <tr>
                <th width="33%">lorem ipsum dolor sit amet</th>
                <th width="33%">Dolor sit amet</th>
                <th width="33%">Dolor sit amet</th>
            </tr>
            <tr>
                <td>lorem ipsum dolor</td>
                <td>lorem ipsum dolor sit amet</td>
                <td>Dolor sit amet</td>
            </tr>
            <tr>
                <td>Consectetur adipiscing elit, sed do eiusmod tempor incididunt</td>
                <td>Sed do eiusmod tempor</td>
                <td>Incididunt ut labore et dolore magna aliqua. Ut enim ad minim</td>
            </tr>
            <tr>
                <td>Ut enim ad minim veniam</td>
                <td>Sit amet ipsum dolor sit</td>
                <td>Sed do eiusmod tempor </td>
            </tr>
            <tr>
                <td>lorem ipsum dolor sit amet</td>
                <td>Incididunt ut labore et dolore</td>
                <td>Dolore magna aliquat enim ad</td>
            </tr>
        </table>
    </div>
    <hr>
</div>