<!-- NEWS ARCHIVE COMPONENT START -->
<div class="news_archive">
	<h3>News archive</h3> <!-- Option for content editors to choose heading tag -->
	<ul>
		<li><a href="#">2016</a>
			<ul>
				<li><a href="#">January</a></li>
				<li><a href="#">February</a></li>
				<li><a href="#">Month</a></li>
			</ul>
		</li>
		<li><a href="#">2015</a>
			<ul>
				<li><a href="#">January</a></li>
				<li><a href="#">February</a></li>
				<li><a href="#">March</a></li>
			</ul>
		</li>
	</ul>
</div>
<!-- NEWS ARCHIVE COMPONENT END -->