<div class="progRoutes">
    <table class="standard">
        <thead>
            <tr>
                <th>Degree Programmes</th>
                <th>Award</th>
                <th>English Grade</th>
                <th>Semester 1</th>
                <th>Semester 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Computer Science</td>
                <td>BSc (Hons)</td>
                <td>60%</td>
                <td>50%</td>
                <td>50%</td>
            </tr>
            <tr class="alternate">
                <td>Computer Science (4 year course)</td>
                <td>MComp</td> 
                <td>60%</td>
                <td>50%</td>
                <td>50%</td>
            </tr>
            <tr>
                <td>Computer Science (with an industrial placement year) </td>
                <td>BSc (Hons)</td> 
                <td>60%</td>
                <td>50%</td>
                <td>50%</td>                      
            </tr>
            <tr class="alternate">
                <td>Computer Science (with an industrial placement) (5 year course)</td>
                <td>MComp</td> 
                <td>60%</td>
                <td>50%</td>
                <td>50%</td>                       
            </tr>
            <tr>
                <td>Computer Science and Artificial Intelligence</td>
                <td>BSc (Hons)</td> 
                <td>60%</td>
                <td>50%</td>
                <td>50%</td>                      
            </tr>
            <tr class="alternate">
                <td>Computer Science and Artificial Intelligence (with an industrial placement year) </td>
                <td>BSc (Hons)</td>
                <td>60%</td>
                <td>50%</td>
                <td>50%</td>                       
            </tr>
            <tr>
                <td>Computing for Business and Management</td>
                <td>BSc (Hons)</td> 
                <td>60%</td>
                <td>50%</td>
                <td>50%</td>                      
            </tr>
            <tr class="alternate">
                <td>Computing for Business and Management (with an industrial placement year) </td>
                <td>BSc (Hons)</td> 
                <td>60%</td>
                <td>50%</td>
                <td>50%</td>                       
            </tr>
            <tr>
                <td>Computing for Digital Media</td>
                <td>BSc (Hons)</td>
                <td>60%</td>
                <td>50%</td>
                <td>50%</td>                      
            </tr>
            <tr class="alternate">
                <td>Computing for Digital Media (with an industrial placement year)</td>
                <td>BSc (Hons)</td> 
                <td>60%</td>
                <td>50%</td>
                <td>50%</td>                       
                </tr>
            <tr>
            <td>Games and Multimedia Environments (GAME)</td>
                <td>BSc (Hons)</td> 
                <td>60%</td>
                <td>50%</td>
                <td>50%</td>                     
            </tr>
            <tr class="alternate">
                <td>Games and Multimedia Environments (GAME) (with an industrial placement year)</td>
                <td>BSc (Hons)</td> 
                <td>60%</td>
                <td>50%</td>
                <td>50%</td>
            </tr>
        </tbody>
    </table>
</div>