<!-- SEARCH COMPONENT START -->
<a href="#" id="searchToggle" class="search_toggle"></a>
<div class="search">
    <div id="searchwrapper" class="siteSearch">
        <fieldset>
            <legend>Search this site</legend>
            <label id="embheader_0_SearchLabel" class="searchLabel" for="embheader_0_SearchTextBox"></label>
            <input id="embheader_0_SearchTextBox" class="searchInput" type="text" onfocus="if(this.value==this.defaultValue) this.value='';" maxlength="200" value="search" placeholder="Search" name="embheader_0$SearchTextBox"><input id="embheader_0_SearchButton" class="searchButton" type="submit" value="Search" name="embheader_0$SearchButton">
        </fieldset>
    </div>
</div>
<!-- SEARCH COMPONENT END -->