<!-- SIDEBAR NAV COMPONENT START -->
<ul class="sidebar-nav">
	<li><a class="active" href="#">link one</a>
		<ul class="second-level">
			<li><a class="active" href="#">link one</a></li>
			<li><a href="#">link two</a></li>
			<li><a href="#">link three</a></li>
			<li><a href="#">link four</a></li>
		</ul>
	</li>
	<li><a href="#">link two</a></li>
	<li><a href="#">link three</a></li>
	<li><a href="#">link four</a></li>
</ul>
<!-- SIDEBAR NAV COMPONENT END -->