<!-- WIDGET COMPONENT START -->
<div class="widget">
    <h3>Widget</h3> <!-- Option for content editors to choose heading tag -->
    <p>
        lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <p>
        Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    {% include "button" %}
</div>
<!-- WIDGET COMPONENT END -->