            <script src="https://code.jquery.com/jquery-1.7.2.min.js"></script>

            <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<script src="https://code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>  REQUIRED FOR FORM DATEPICKER TO WORK 
			// this version of jquery & jquery-ui should be added back in when the new app form has been developed using jquery 1.10.2 and jquery-ui 1.9.2 -->

            <script src="js/scripts.js"></script>
        </div> <!-- #pageBody close -->
    </body>
</html>