            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<script src="https://code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script> <!-- REQUIRED FOR FORM DATEPICKER TO WORK -->
            <script src="js/scripts.js"></script>
        </div> <!-- #pageBody close -->
    </body>
</html>