{% include "layout/head" %}
{% comment %} // DO NOT ADD CODE ABOVE THIS LINE // {% endcomment %}

{% include "header" %}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            {% include "breadcrumb" %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            {% include "sidebar_nav" %}
        </div>
        <div class="col-md-9">
            {% include "carousel" %}

            <div class="row">
                <div class="col-md-8">
                    {% include "content" %}
                    {% include "accordion" %}
                </div>
                <div class="col-md-4">
                    {% include "video" %}
                    {% include "testimonial" %}
                    {% include "map" %}
                    {% include "widget" %}

                    {% include "gallery" %}
                </div>
            </div>

        </div>
    </div>
    
</div>

 {% include "footer" %}

{% comment %} // DO NOT ADD CODE BELOW THIS LINE // {% endcomment %}
{% include "layout/foot" %}